<!--<div class="container">
  <h1>Folders</h1>
  <table>
    <tbody>
      <tr *ngFor="let folder of folders">
        <td>-</td>
        <td>{{folder.folder_name}}</td>
        <td><a [routerLink]="[folder.folder_name, 'items']">View items</a></td>
        <td><button (click)="delete(folder.folder_name)">Remove</button></td>
      </tr>
    </tbody>
  </table>
  <div class="container formu">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="form-inline">
      <div class="form-group mx-sm-3 mb-2 cos">
        <input type="text" id="add" class="form-control" name="add" ngModel required>
      </div>
        <button class="btn btn-primary mb-2" type="submit">Add</button>
    </form>
  </div>
</div>-->
<div class="container m-5 p-2 rounded mx-auto bg-light shadow">

  <div class="row m-1 p-4">
      <div class="col">
          <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
              <u>Folders</u>
          </div>
      </div>
  </div>

  <div class="row m-1 p-3">
      <div class="col col-11 mx-auto">
          <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">
              <div class="col">
                <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" placeholder="Add new .." name="add" ngModel required>
              </div>
            <div class="col-auto px-0 mx-0 mr-2">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
            </form>
          </div>
      </div>
  </div>
  <div class="p-2 mx-4 border-black-25 border-bottom"></div>

  <div class="row mx-1 px-5 pb-3 w-80" *ngFor="let folder of folders">
      <div class="col mx-auto">

          <div class="row px-3 align-items-center todo-item rounded">
              <div class="col px-1 m-1 d-flex align-items-center">
                <!--<input type="text" class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3" readonly value="{{folder.folder_name}}" title="{{folder.folder_name}}" />-->

                  <h2>{{folder.folder_name}}</h2>
              </div>
              <div class="col-auto m-1 p-0 px-3 d-none">
              </div>
              <div class="col-auto m-1 p-0">
                  <div class="row d-flex align-items-center justify-content-end">
                      <h5 class="m-0 p-0 px-2">
                        <a [routerLink]="[folder.folder_name, 'items']" class="lapicito">View items</a>
                      </h5>
                      <h5 class="m-0 p-0 px-2">
                          <i class="fa fa-trash-o text-danger btn m-0 p-0 lapicito" data-toggle="tooltip" data-placement="bottom" title="Delete todo" (click)="delete(folder.folder_name)"></i>
                      </h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

